In [2]:
import requests
import json 
from sklearn.model_selection import train_test_split
import pandas as pd

In [5]:
dataset = pd.read_excel('../datasets/dataset deteccao.xlsx')

In [6]:
dataset.head()

                                                text                     label
0  A estiagem prolongada em 2021 fez com diretore...  Vigilância dos Desastres
1  Nos últimos 20 dias, 40 pessoas morreram em Ca...     Doenças Respiratórias
2  Os meses de agosto e setembro prometem ser dec...     Doenças Respiratórias
3  Uma experiência "revolucionária" com mosquitos...               Arboviroses
4  Novo decreto publicado nesta sexta-feira (20),...     Doenças Respiratórias

In [14]:
dataset.describe()

                                                     text      label
count                                                9450       9450
unique                                               9424          1
top     A umidade relativa do ar deve atingir níveis c...  relevante
freq                                                    2       9450

In [8]:
dataset.drop('label', axis=1, inplace=True)

In [10]:
dataset['label'] = 'relevante'

In [11]:
dataset.head()

                                                text      label
0  A estiagem prolongada em 2021 fez com diretore...  relevante
1  Nos últimos 20 dias, 40 pessoas morreram em Ca...  relevante
2  Os meses de agosto e setembro prometem ser dec...  relevante
3  Uma experiência "revolucionária" com mosquitos...  relevante
4  Novo decreto publicado nesta sexta-feira (20),...  relevante

In [12]:
context_data, test_data = train_test_split(dataset, test_size=0.2, random_state=42)

In [35]:
context = '\n'.join([f"{item['text']}: {item['label']}" for _, item in context_data.iterrows()])

In [36]:
test_examples = '\n'.join([f"{item['text']}: {item['label']}" for _, item in test_data.iterrows()])

In [37]:
prompt = f"Contexto:\n{context}\n\nTeste a relevância destes artigos de notícias:\n{test_examples}\nResponda sim ou não para cada um."

In [38]:
headers = {
    'Content-Type': 'application/json',
}

In [39]:
data = {
    "model": "llama3.1",
    "prompt": prompt
}

In [ ]:
# Send the POST request
response = requests.post('http://10.88.8.31:0800/api/generate', headers=headers, data=json.dumps(data))

# Check the response
if response.status_code == 200:
    result = response.json()
    print("Response from Llama:", result)
else:
    print("Failed to get response:", response.status_code, response.text)